SECRET_KEY = sua_chave_secreta_aqui

JWT_SECRET_KEY = sua_chave_jwt_secreta_aqui
JWT_ALGORITHIM = HS256
JWT_EXP_MINUTES = 30
JWT_EXP_DAYS = 7

DB_USER=seu_user_aqui
DB_PASSWORD=sua_senha_db_aqui
DB_NAME=seu_db_name_aqui
DB_PORT=sua_port_db_aqui
